<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/file.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>DEVCON Agenda</h2>
        </div>
        <div class="container" style="padding-top: 10px;">
            <form method="POST" enctype="multipart/form-data" action="/">
                <label for="file-upload" class="btn btn-default btn-file">
                    <i class="fa fa-cloud-upload"></i> Escolher Arquivo
                </label>
                <input id="file-upload" name="file" type="file" style="display:none;">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div class="container" th:if="${message}">
            <div class="row">
                <div class="col-sm-4">
                    <form method="GET" action="/download">
                        <button type="submit" class="btn btn-success">Baixar Agenda</button>
                    </form>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <form method="POST" action="/deleteTalks">
                        <button type="submit" class="btn btn-primary" style="float: right">Limpar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" th:if="${message}">
            <!--<p th:text="${message}"></p>-->
            <table class="table table-bordered" th:if="${talksNotOnList}">
                <thead>
                    <tr>
                        <th>Palestras Fora da Agenda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="table table-bordered" th:if="${talksNotOnList}">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Duração</th>
                                        <th>Prioridade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="talk : ${talksNotOnList}">
                                        <td th:text="${talk.title}"></td>
                                        <td th:text="${talk.duration}"></td>
                                        <td th:text="${talk.priority}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container" th:if="${message}">
            <!--<p th:text="${message}"></p>-->
            <table class="table table-bordered" th:if="${talkList}">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Duração</th>
                        <th>Prioridade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="talk : ${talkList}">
                        <td th:text="${talk.title}"></td>
                        <td th:text="${talk.duration}"></td>
                        <td th:text="${talk.priority}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>